<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api for bluewhale-stock</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js"></script>
    <script>
        $(document).ready(function () {
            let account_id = ""
            let database_name = "";
            let table_names = "";
            let column_names = ["公司代號","公司名稱"];

            $.post("/get_data_base", {"account_id":account_id,"database_name":database_name,"table_name":table_names,"column_names":list_to_string(column_names)},
                function (data, textStatus, jqXHR) {
                    console.log(data)
                },
                "json"
            );
        });
    </script>
</head>
<body>
    
    hello world!
</body>

</html>